<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${level}|${message}|${logger}" />

    <target name="file" xsi:type="File" fileName="${basedir}/file.txt" layout="${longdate}|${level}|${stacktrace}|${message}|${logger}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>